<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <meta name="google-signin-client-id" content="1010257564153-4qev96qpjqclshpj18i8426l8lmhon4e.apps.googleusercontent.com">
</head>
<body>

<div id="my-signin"></div>


<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
</html>