{% extends 'base.html' %}

{% block title %}Tashabbuslar{% endblock title %}

{% block content %}
    {% for initiative in object_list %}
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
                <div class="card h-100">
                {% if initiative.photo %}
                  <img src="{{ initiative.photo.url }}" class="card-img-top" alt="{{ initiative.title }}">
                {% endif %}
                  <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'initiative_detail' initiative.pk %}">{{ initiative.title }}</a></h5>
                    <p class="card-text">{{ initiative.summary }}</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">{{ initiative.result }} % Amalga oshirilgan</small>
                  </div>
                </div>
          </div>

        </div>
    {% endfor%}
{% endblock content %}